body{
	text-align:center;
}
#box{
	 display:block;
	 width:500px;
	 margin:50px auto;
	 padding:15px;
	 text-allign:center;
	 border:1px solid red;
	 background:green;
	 -webkit-border-radius:25px;
	 -webkit-box-shadow:rgb(110,110,110) 8px 8px 9px;
}